body, html {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; /* Center everything horizontally */
    align-items: center; /* Center everything vertically */
    background-color: #0033a0;
    font-family: Arial, sans-serif;
}

.controls-container {
    width: 300px;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    margin-right: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.controls-container h2 {
    margin-top: 0;
}

.controls-container div {
    margin-bottom: 10px;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.iphone-container {
    width: 390px; /* iPhone 15 Plus width */
    height: 844px; /* iPhone 15 Plus height */
    background-color: #0033a0;
    position: relative; /* Change to relative */
    border-radius: 30px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.profile {
    position: relative;
    width: 220px;
    height: 220px;
    background-color: #fff;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
    top: 200px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
   
}

.profile-image {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    object-fit: cover; /* Ensure the image covers the circle properly */
}

.circle {
    width: 52px;
    height: 52px;
    border-radius: 50%;
    position: absolute;
    animation: rotate 5s linear infinite; /* Apply rotation animation */
}

.blue {
    background-color: #0094ff;
    animation-delay: 0s; /* No delay */
}

.pink {
    background-color: #ff4081;
    animation-delay: -2.5s; /* Halfway delay for opposite positioning */
}

@keyframes rotate {
    0% {
        transform: rotate(0deg) translate(100px) rotate(0deg); /* Adjust translate distance as needed */
    }
    100% {
        transform: rotate(360deg) translate(100px) rotate(-360deg);
    }
}

.info-box {
    width: 80%;
    background-color: #fff;
    border-radius: 15px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    position: absolute; /* Change to absolute */
}

.top-box {
    top: 540px; /* Adjust as needed */
    left: 50%;
    transform: translateX(-50%);
    height: 75px;
}

.rtc-title {
    font-size: 1.1em;
    font-weight: bolder;
    margin-bottom: 5px;
    margin-top: -10px;
    margin-left: -10px;
    text-align: left; /* Adjusted margin to move text up */
}

/* Text styles */
.subtitle {
    font-weight: 900;
    font-style: italic;
    font-size: small;
    
    margin-bottom: 10px;
}

.bottom-box {
    top: 670px; /* Adjust as needed to position close to top-box */
    left: 50%;
    height: 75px;
    transform: translateX(-50%);
}

p {
    margin: 5px 0;
    text-align: center;
}

.bold {
    font-weight: bold;
}

.bold2 {
    font-size: 0.7em;
    font-weight: 750;
    text-align: center;
    margin-left: -1px;
    margin-top: -10px;
    /* Adjusted top margin for date parts */
   /* Ensures they are inline and have margins */
  
}

.date-part {
    font-size: 1.1em;
    font-weight: 900;
    margin-top: -5px; /* Adjusted top margin for date parts */
    display: inline-block; /* Ensures they are inline and have margins */
    margin-right: 86.2px; /* Adjusted right margin for spacing between date parts */
}

.date-part2 {
    font-size: 1.1em;
    font-weight: 900;
    margin-top: -5px; /* Adjusted top margin for date parts */
    display: inline-block; /* Ensures they are inline and have margins */
    margin-right: 10px; /* Adjusted right margin for spacing between date parts */
}

.date {
    font-size: 1.1em;
    font-weight: 900;
    
}

.bold3 {
    font-size: 1.1em;
    font-weight: 900;
}

.time {

    font-size: 1.1em;
    font-weight: 700;
}




.start-time {
    font-size: 1em;
    font-weight: 700;
    margin-top: -8px;
    margin-right: 200px;
     /* Adjust as needed */
}

.end-time {
    font-size: 1em;
    font-weight: 700;
    margin-top: -23px;
    margin-right: -190px; /* Adjust as needed */
}


.timer {
    font-size: 1.1em;
    font-weight: bold;
    color: #6bec4d;
    margin-top: -60px;
    margin-left: 270px;
}

.loading-bar {
    width: 350px;
    height: 10px;
    background-color: #000;
    border-radius: 5px;
    overflow: hidden;
    margin-top: 57px;
    margin-left: -18px;
}

.loading-bar .fill {
    width: 0%;
    height: 100%;
    background-color: #1bb31b;
    animation: fillAnimation 800s linear forwards;
}

@keyframes fillAnimation {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}


@media (max-width: 430px) and (max-height: 932px) {
    .iphone-container {
        width: 90%;
        height: auto; /* Adjust as needed */
    }

    .profile {
        width: 260px; /* Adjust as needed */
        height: 260px;
        margin-top: -50px; /* Adjust as needed */
    }

    .circle {
        width: 60px; /* Adjust as needed */
        height: 60px; /* Adjust as needed */
    }

    @keyframes rotate {
        0% {
            transform: rotate(0deg) translate(120px) rotate(0deg); /* Adjust translate distance as needed */
        }
        100% {
            transform: rotate(360deg) translate(120px) rotate(-360deg);
        }
    }
    

    .info-box {
        width: 90%; /* Adjust as needed */
    }

    .loading-bar {
        width: 408px;
        height: 10px;
        background-color: #000;
        border-radius: 5px;
        overflow: hidden;
        margin-top: 70px;
        margin-left: -18px;
    }
    
    .loading-bar .fill {
        width: 0%;
        height: 100%;
        background-color: #1bb31b;
        animation: fillAnimation 800s linear forwards;
    }

    
    .top-box {
        top: 545px; /* Adjust as needed */
        left: 50%;
        transform: translateX(-50%);
        height: 75px;
        width: 370px;
    }
    
    .bottom-box {
        top: 670px; /* Adjust as needed to position close to top-box */
        left: 50%;
        height: 75px;
        width: 370px;
        transform: translateX(-50%);
    }

    .start-time {
        font-size: 1em;
        font-weight: 700;
        margin-top: -8px;
        margin-right: 260px;
         /* Adjust as needed */
    }

    .end-time {
        font-size: 1em;
        font-weight: 700;
        margin-top: -23px;
        margin-right: -210px; /* Adjust as needed */
    }

    .date-part2 {
        font-size: 1.1em;
        font-weight: 900;
        margin-top: -5px; /* Adjusted top margin for date parts */
        /* Ensures they are inline and have margins */
        
        left: 50px;
    }

    .date-part {
        font-size: 1.1em;
        font-weight: 900;
        margin-top: -5px; /* Adjusted top margin for date parts */
        display: inline-block; /* Ensures they are inline and have margins */
        margin-right: 140.2px; /* Adjusted right margin for spacing between date parts */
    }

    .controls-container div {
        margin-bottom: 10px;
        bottom: 100px;
    }
}

.fullscreen-simulated {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-color: #0033a0; /* Match the background color */
}
